<div class="login">
    <a href="/">
        <img src="/images/logo/m90.png" height="72" width="72">
    </a>
    <h1>{{title}}</h1>
    <hr>

    <form onsubmit="return false">
        <div id="message">
        </div>
        <label for="id_oldEmail">注册邮箱:</label>
        <div id="id_oldEmail">
            <input id="oldEmail" maxlength="64" class="form-control border" value="{{email}}"
                   placeholder="注册邮箱"
                   type="text" readonly>
        </div>
        <label for="id_email">新邮箱:</label>
        <div id="id_email">
            <input id="email" maxlength="64" class="form-control border" name="email" value=""
                   placeholder="新邮箱"
                   type="text" data-required="" data-conditional="email" data-description="email"
                   data-describedby="message">
        </div>
        <label for="id_passpod">验证码:</label>
        <div id="id_passpod">
            <input id="passpod" class="form-control border" maxlength="18" name="passpod"
                   placeholder="验证码"
                   type="text" data-required="" data-conditional="passpod" data-description="passpod"
                   data-describedby="message">
        </div>
        <div>
            <img id="captcha" src="/utils/captcha/1">
        </div>
        <input type="hidden" value="{{user._id}}" name="_id" id="_id">
        <input id="submit" type="submit" class="btn btn-success border" value="找回密码">
    </form>
</div>


{{#section 'jquery'}}
    <script type="text/javascript">
        var emailValid = false;
        var passpodValid = false;
        $(function () {
            $('form').validate({
                onKeyup: true,
                onChange: true,
                eachValidField: function () {
                    $(this).closest('div').removeClass('has-error').addClass('has-success');
                },
                eachInvalidField: function () {
                    $(this).closest('div').removeClass('has-success').addClass('has-error');
                },
                conditional: {
                    email: function () {
                        emailValid = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test($(this).val())
                        return emailValid;
                    },
                    passpod: function () {
                        passpodValid = /\w{6}/.test($(this).val())
                        return passpodValid;
                    }
                },
                description: {
                    email: {
                        conditional: '<div class="alert alert-danger">邮箱格式不合法</div>'
                    },
                    passpod: {
                        conditional: '<div class="alert alert-danger">验证码格式不合法</div>'
                    }
                }
            });
            $("#captcha").click(function () {
                var n = new Date().getMilliseconds();
                $("#captcha").attr("src", "/utils/captcha/" + n);
            })
            $("#submit").click(function () {
                if (emailValid && emailValid) {
                    changeEmail();
                }
            });
        })
        function changeEmail() {
            $.ajax("/user/changeEmail/valid", {
                type: "post",
                data: {
                    _id: $("#_id").val(),
                    email: $("#email").val(),
                    passpod: $("#passpod").val(),
                }, success: function (msg) {
                    if (msg.success) {
                        $.ajax("/user/changeEmail/post", {
                                    type: "post",
                                    data: {
                                        _id: $("#_id").val(),
                                        email: $("#email").val(),
                                    }, success: function (msg) {
                                        var msgDiv = $('#message');
                                        if (msg.success) {
                                            msgDiv.html('<div class="alert alert-danger">' + msg.msg + '<a href="' + msg.url + '" target="_blank">点击跳转</a> </div>');
                                            setTimeout(closeWindow,6000);
                                        } else {
                                            msgDiv.removeClass('has-success').addClass('has-error');
                                            msgDiv.html('<div class="alert alert-danger">' + msg.msg + '</div>');
                                        }
                                    }
                                }
                        );
                    } else {
                        var msgDiv = $('#message');
                        msgDiv.removeClass('has-success').addClass('has-error');
                        msgDiv.html('<div class="alert alert-danger">' + msg.msg + '</div>');
                    }
                }
            });
        }
        var msgChecked = false;
        function clearMsg() {
            var msgDiv = $('#message');
            msgDiv.removeClass('has-error').addClass('has-success');
            msgDiv.html('');
            msgChecked = false;
        }

        function checkMsg() {
            var msgDiv = $('#message');
            if ((!msgChecked) && msgDiv.html() != "") {
                setTimeout(clearMsg, 5000);
                msgChecked = true;
            }
        }
        setInterval(checkMsg, 1000);
    </script>
{{/section}}


