<div class="login">
    <a href="/">
        <img src="/images/logo/m90.png" height="72" width="72">
    </a>
    <h1>{{title}}</h1>
    <hr>

    <form onsubmit="return check()" action="/user/findPass" method="post">
        <div id="message">
            {{#if msg}}
                <div class="alert alert-danger">{{msg}}</div>
            {{/if}}
        </div>
        <label for="id_name">注册邮箱:</label>
        <div id="id_email">
            <input id="email" maxlength="64" class="form-control border" name="email" value="{{form.email}}"
                   placeholder="注册邮箱"
                   type="text" data-required="" data-conditional="email" data-description="email"
                   data-describedby="message">
        </div>
        <label for="id_passpod">验证码:</label>
        <div id="id_passpod">
            <input id="passpod" class="form-control border" maxlength="18" name="passpod"
                   placeholder="验证码"
                   type="text" data-required="">
        </div>
        <div>
            <img id="captcha" src="/utils/captcha/1">
        </div>
        <input type="submit" class="btn btn-success border" value="找回密码">
    </form>
</div>


{{#section 'jquery'}}
    <script type="text/javascript">
        $(function () {
            $('form').validate({
                onKeyup: true,
                onChange: true,
                eachValidField: function () {
                    $(this).closest('div').removeClass('has-error').addClass('has-success');
                },
                eachInvalidField: function () {
                    $(this).closest('div').removeClass('has-success').addClass('has-error');
                },
                conditional: {
                    email: function () {
                        return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test($(this).val());
                    }
                },
                description: {
                    email: {
                        conditional: '<div class="alert alert-danger">邮箱格式不合法</div>'
                    }
                }
            });
            $("#captcha").click(function () {
                var n = new Date().getMilliseconds();
                $("#captcha").attr("src", "/utils/captcha/" + n);
            })
        })
        function check() {
            var result = false;
            $.ajax("/user/findPass/valid", {
                type: "post",
                async: false,      //ajax同步
                data: {
                    email: $("#email").val(),
                    passpod: $("#passpod").val(),
                }, success: function (msg) {
                    if (msg.success) {
                        result = true;
                    } else {
                        var msgDiv = $('#message');
                        msgDiv.removeClass('has-success').addClass('has-error');
                        msgDiv.html('<div class="alert alert-danger">' + msg.msg + '</div>');
                    }
                }
            });
            return result;
        }
        var msgChecked = false;
        function clearMsg() {
            var msgDiv = $('#message');
            msgDiv.removeClass('has-error').addClass('has-success');
            msgDiv.html('');
            msgChecked = false;
        }

        function checkMsg() {
            var msgDiv = $('#message');
            if ((!msgChecked) && msgDiv.html() != "") {
                setTimeout(clearMsg, 5000);
                msgChecked = true;
            }
        }
        setInterval(checkMsg, 1000);
    </script>
{{/section}}


