<div class="panel panel-default stacked">
    <div class="panel-heading">
        <ul class="nav nav-pills account-tab">
            <li><a href="/user/basicInfo">基本信息</a></li>
            <li class="active"><a href="/user/headPortrait">修改头像</a></li>
            <li><a href="/user/changePass">修改密码</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="message">

        </div>
        <form class="form-horizontal" action="avatar" method="post">
            <input type="hidden" id="x" name="x" value="">
            <input type="hidden" id="y" name="y" value="">
            <input type="hidden" id="width" name="width" value="">
            <input type="hidden" id="height" name="height" value="">
            <input type="hidden" id="path" name="path" value="">

            <div class="upload-btn">
                <label>
                    <span>点击选择一张图片</span>
                    <input id="upload_btn" type="file" name="file" accept="image/*" title="点击添加图片">
                </label>
            </div>
            <div id="picDiv" class="update_ava1">
                <img id="pic"  class="dragAble" alt="头像" src="/images/ava/default.png" />
            </div>

            <div class="form-group">
                <div class="text-center">
                    <input id="btn1" type="button" value="放大" class="btn" onclick="ImageChange(true)" />
                    <input id="btn2" type="button" value="缩小" class="btn"  onclick="ImageChange(false)" />
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</div><!-- /panel -->

{{#section 'jquery'}}
    <script type="text/javascript">
        //图片放大和缩小（兼容IE和火狐，谷歌）
        function ImageChange(args) {
            var oImg = document.getElementById("pic");
            if (args) {
                oImg.width = oImg.width * 1.1;
                oImg.height = oImg.height * 1.1;
                // oImg.style.zoom = parseInt(oImg.style.zoom) + (args ? +20 : -20) + '%';
            }
            else {
                oImg.width = oImg.width / 1.1;
                oImg.height = oImg.height / 1.1;
            }
        }



        //获取div的四个顶点坐标
        function getDivPosition()
        {
            var odiv=document.getElementById('picDiv');
            //  alert(odiv.getBoundingClientRect().left);
            // alert(odiv.getBoundingClientRect().top);

            var xLeft,xRigh,yTop,yBottom;
            return {
                xLeft:odiv.getBoundingClientRect().left,
                xRigh:odiv.getBoundingClientRect().left+130,
                yTop:odiv.getBoundingClientRect().top,
                yBottom:odiv.getBoundingClientRect().top+130
            };
        }

        //获取鼠标坐标
        function mousePos(e)
        {
            var x,y;
            var e = e||window.event;
            return {
                x:e.clientX+document.body.scrollLeft+document.documentElement.scrollLeft,
                y:e.clientY+document.body.scrollTop+document.documentElement.scrollTop
            };
        };

        //在固定div层拖动图片
        var ie = document.all;
        var nn6 = document.getElementById && !document.all;
        var isdrag = false;
        var y, x;
        var oDragObj;


        //鼠标移动
        function moveMouse(e) {
            //鼠标的坐标
            mousePos(e).x   ;
            mousePos(e).y  ;
            //div的四个顶点坐标
            getDivPosition().xLeft
            getDivPosition().xRigh
            getDivPosition().yTop
            getDivPosition().yBottom

            if(isdrag && mousePos(e).x > getDivPosition().xLeft &&  mousePos(e).x < getDivPosition().xRigh  &&  mousePos(e).y >getDivPosition().yTop && mousePos(e).y< getDivPosition().yBottom )
            {
                oDragObj.style.top = (nn6 ? nTY + e.clientY - y : nTY + event.clientY - y) + "px";
                oDragObj.style.left = (nn6 ? nTX + e.clientX - x : nTX + event.clientX - x) + "px";
                return false;
            }
        }

        //鼠标按下才初始化
        function initDrag(e) {
            var oDragHandle = nn6 ? e.target : event.srcElement;
            var topElement = "HTML";
            while (oDragHandle.tagName != topElement && oDragHandle.className != "dragAble") {
                oDragHandle = nn6 ? oDragHandle.parentNode : oDragHandle.parentElement;
            }
            if (oDragHandle.className == "dragAble") {
                isdrag = true;
                oDragObj = oDragHandle;
                nTY = parseInt(oDragObj.style.top + 0);
                y = nn6 ? e.clientY : event.clientY;
                nTX = parseInt(oDragObj.style.left + 0);
                x = nn6 ? e.clientX : event.clientX;
                document.onmousemove = moveMouse;
                return false;
            }
        }
        document.onmousedown = initDrag;
        document.onmouseup = new Function("isdrag=false");
    </script>
{{/section}}
