<div class="panel panel-default stacked">
    <div class="panel-heading">
        <ul class="nav nav-pills account-tab">
            <li><a href="/user/basicInfo">基本信息</a></li>
            <li class="active"><a href="/user/headPortrait">修改头像</a></li>
            <li><a href="/user/changePass">修改密码</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="message">

        </div>
        <form class="form-horizontal" onsubmit="return false">
            <input type="hidden" id="path" name="path" value="">
            <input type="hidden" id="aaa" name="headPortrait" value="{{headPortrait}}">
            <div class="upload-btn">
                <label>
                    <span>点击选择一张图片</span>
                    <input id="upload" type="file" multiple name="file" class="form-control" required accept="image/*"
                           data-url="/upload/upload" title="点击添加图片">
                </label>
            </div>
            <div id="picDiv" class="update_ava1">
                <img id="pic" class="dragAble" alt="头像" src="/images/ava/cover.png"/>
            </div>

            <div class="form-group">
                <div class="text-center">
                    <input id="btn1" type="button" value="放大" class="btn" onclick="ImageChange(true)"/>
                    <input id="btn2" type="button" value="缩小" class="btn" onclick="ImageChange(false)"/>
                    <button id="submit" type="button" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</div><!-- /panel -->

{{#section 'jquery'}}
    <script type="text/javascript">
        $("#picDiv").css("background-image", "url(" + $("#aaa").val() + ")");
        var zoom = 1;
        var zoomMax = 1;
        var zoomMin = 0.6;
        var zoomRitio = 1.1;
        var oImg = document.getElementById("pic");
        var oImgw = oImg.width;
        var oImgh = oImg.height;
        var picPath = "/images/ava/default.png";
        var isdrag = false;
        var uploaded = false;
        var pos1;
        var dp = getDivPosition();
        var ip = getImgPosition();
        var x = 0;
        var y = 0;
        hiddenPic();
        function ImageChange(args) {
            if (args) {
                if (x > 0) {
                    zoomMax = (300 - x) / 300;
                }
                if (zoom * zoomRitio <= zoomMax) {
                    zoom *= zoomRitio;
                } else {
                    zoom = zoomMax;
                }

            } else {
                if (zoom / zoomRitio >= zoomMin) {
                    zoom /= zoomRitio;
                } else {
                    zoom = zoomMin;
                }
            }
            oImg.width = oImgw * zoom;
            oImg.height = oImgh * zoom;
        }
        //获取div的四个顶点坐标
        function getDivPosition() {
            var odiv = document.getElementById('picDiv');
            var point = {
                xLeft: odiv.getBoundingClientRect().left,
                xRigh: odiv.getBoundingClientRect().left + 300,
                yTop: odiv.getBoundingClientRect().top,
                yBottom: odiv.getBoundingClientRect().top + 300
            };
            return point;
        }
        //获取img的四个顶点坐标
        function getImgPosition() {
            var point = {
                xLeft: oImg.getBoundingClientRect().left,
                xRigh: oImg.getBoundingClientRect().left + oImg.width,
                yTop: oImg.getBoundingClientRect().top,
                yBottom: oImg.getBoundingClientRect().top + oImg.height
            };
            return point;
        }
        //获取鼠标坐标
        function mousePos(e) {
            var e = e || window.event;
            return {
                x: e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft,
                y: e.clientY + document.body.scrollTop + document.documentElement.scrollTop
            };
        }
        ;
        function initDrag() {
            isdrag = true;
            pos1 = mousePos();
            ip = getImgPosition();
        }
        function mouseMove() {
            var pos2;
            if (isdrag == true) {
                pos2 = mousePos();
                var vx = pos2.x - pos1.x;
                var vy = pos2.y - pos1.y;
                if (ip.xLeft + vx >= dp.xLeft && ip.xRigh + vx <= dp.xRigh && ip.yTop + vy >= dp.yTop && ip.yBottom + vy <= dp.yBottom) {
                    x = ip.xLeft - dp.xLeft + vx;
                    y = ip.yTop - dp.yTop + vy;
                    $("#pic").css("left", (x) + "px");
                    $("#pic").css("top", (y) + "px");
                }
            }
        }
        document.getElementById("pic").onmousedown = initDrag;
        document.getElementById("pic").onmousemove = mouseMove;
        document.getElementById("pic").onmouseup = new Function("isdrag=false");

        $(function () {
            $("#upload").fileupload({
                dataType: "json",
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        picPath = file.url.substring(file.url.indexOf("/uploads"));
                        $("#picDiv").css("background-image", "url(" + picPath + ")");
                    })
                    showPic();
                }
            });
            $("#submit").click(function () {
                var msgDiv = $('#message');
                if(uploaded==false){
                    msgDiv.html('<div class="alert alert-success">请上传完图片再提交 </div>');
                }else{
                    $.ajax("/user/headPortrait/post", {
                                type: "post",
                                data: {
                                    path: picPath,
                                    x: x,
                                    y: y,
                                    zoom: zoom,
                                },
                                async: false,
                                success: function (msg) {
                                    if (msg.success) {
                                        msgDiv.html('<div class="alert alert-success">' + msg.msg + ' </div>');
                                        var n = new Date().getMilliseconds();
                                        $(".headPortrait").attr("src", msg.headPortrait + "?" + n);
                                        $("#picDiv").css("background-image", "url(" + msg.headPortrait + "?" + n + ")");
                                        hiddenPic();
                                    } else {
                                        msgDiv.removeClass('has-success').addClass('has-error');
                                        msgDiv.html('<div class="alert alert-danger">' + msg.msg + '</div>');
                                    }
                                }
                            }
                    );
                }
            });
        });
        function hiddenPic(){
            $("#pic").hide();
            uploaded = false;
        }
        function showPic(){
            $("#pic").show();
            uploaded = true;
        }
        var msgChecked = false;
        function clearMsg(){
            var msgDiv = $('#message');
            msgDiv.removeClass('has-error').addClass('has-success');
            msgDiv.html('');
            msgChecked = false;
        }

        function checkMsg(){
            var msgDiv = $('#message');
            if((!msgChecked)&&msgDiv.html()!=""){
                setTimeout(clearMsg,2000);
                msgChecked = true;
            }
        }
        setInterval(checkMsg,1000);
    </script>
{{/section}}
